[Globals]
ServerID        = 1
LogLevel        = 5
StartLogging    = true
Workers         = 100
MaxUsers        = 50
QueueSize       = 5

[Bench]
NbDrivers       = 20
BaseTimer       = 2
SendPos         = 5
IdleDuration    = 10
IdleCreateRide  = true
PercentForIdle  = 10
KmByBT          = 1

[HTTPserver]
Enabled         = true
Addr            = "localhost:8080"

[WSserver]
Addr            = "localhost:8888"

[RideConfig]
TimeBeetwinSteps = 10